.mini-cards {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  width: 100%;
}
.admin-stat {
  display: flex;
  align-items: center;

  flex-direction: column;
  gap: 25px;
  padding: 50px 60px;
  width: 80%;
}
.table-stat {
  border: none;
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.table-stat:has(.stores) {
  width: 100%;
}

.ligne,
.info-stat {
  display: flex;
  width: 100%;
  gap: 0px;
  align-items: center;
  padding: 0 20px;
}
#info-statuser {
  width: 75%;
  display: flex;
  justify-content: space-between;
  padding: 0px 50px 0 40px !important;
}
#ligneuser {
  display: flex;
  justify-content: space-between;
  padding-right: 0;
}

.titre-stat {
  width: 100%;
  padding: 0 5px 0 20px !important;
  color: white;
  background-color: #db011c;
  border-radius: 10px;
}
#actionuser {
  text-align: right;
}
.titre-stat li,
.ligne span {
  width: 25%;
}
.stores .titre-stat li,
.stores .ligne span {
  width: 200px;
}
.ligne li {
  padding: 20px;
  text-align: center;
}

.users {
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
}
.stores {
  border: none;
  padding: 0px;
  border-radius: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.stores .ligne > span,
.stores .ligne > li {
  display: flex;

  align-items: center;
  justify-content: center;
}
.stores .ligne,
.stores .ligne {
  justify-content: space-between;
}
.etat {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: #d04848;
  font-weight: 600;
  font-size: 20px;
  color: white;
  transition: 0.2s;
}
.orderIcon {
  width: 60px !important;
  height: 60px;
  border-radius: 50%;
  background-color: #141414;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ligne a {
  max-width: 120px;
  height: 60px;
  display: flex;
}
.orderIcon:hover {
  width: 120px !important;
  border-radius: 50px;
  background-color: orange;
}
.orderIcon svg {
  fill: white;
  width: 20px;
  height: 20px;
}
.etat:hover {
  opacity: 0.7;
}
.activeE {
  background-color: #65b741;
}
