.forswiper {
  width: 100vw;
  max-height: 550px;
  overflow: hidden;
  max-width: 100%;
}
.swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
}

.swiper-slide img {
  display: block;
  /* max-width: 100%; */
  height: 100vh;
}
.slider-image {
  width: 100%;
}
.swiper-button-prev,
.swiper-button-next {
  color: var(--primary-color) !important ;
  font-size: larger;
  background-color: white;
  padding: 25px;
  border-radius: 12px;
}
.swiper-button-prev,
.swiper-button-next {
  top: 40% !important;
}
