.medaille {
  width: 60px;
  object-fit: cover;
  margin-right: 12px;
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 11px;
}

.user-lign {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 15px;
}
.user-lign .t12 {
  align-items: flex-end;
}
.level-bar22 {
  margin-top: 40px;
  width: 70vw;
  top: 180px;
  left: 14.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 800px) {
  .user-info {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 600px) {
  .user-card {
    left: 0;
  }
  .level-bar22 {
    width: 100vw;
    left: 0;
    justify-content: flex-start;
  }
}
