.clip-path * {
  z-index: 3;
}
.aboutus {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
}
.aboutusimg {
  width: 50%;
  display: flex;
  justify-content: center;
}

.aboutusimg img {
  width: 100%;
}
.aboutustext {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aboutustext h2 {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
  color: #e63619;
  text-transform: uppercase;
}

.aboutustext h1 {
  font-size: 30px;
  display: block;
  margin-bottom: 10px;
}
.aboutustext p {
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}
.aboutusfirst {
  display: flex;
  gap: 5%;
  padding: 0 10% 0 10%;
}
.aboutussecond {
  display: flex;
  gap: 5%;
  width: 100%;
  justify-content: flex-start;
  flex-direction: row-reverse;
  position: relative;
  margin-top: 55px;
  cursor: pointer;
  overflow-x: hidden;
  padding-top: 70px;
}
.clip-path {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 69% 100%, 0 85%);
  background-color: rgb(184, 18, 18);
  height: 75vh;
  width: 70vw;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.overlayimgabout {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  opacity: 0.3;
  background-color: #e63619;
  top: 0;
  left: 0;
}
.imgoverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}
.goplay {
  z-index: 2;
  margin-left: 75px;
}
.clip-path h1 {
  color: white;
  font-size: 18px;
  margin: 10px 0 55px 75px;
}
.aboutussecondbox h1 {
  font-size: 24px;
  margin-bottom: 15px;
  width: 90%;
}
.aboutussecondbox h2 {
  font-size: 13px;
  margin-bottom: 3vh;
  color: #e63619;
  text-transform: uppercase;
}
.aboutussecondbox {
  height: 60%;
  width: 100%;
  border-bottom: #e63619 solid 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3vw;
  box-shadow: -9px -1px 95px 5px rgba(0, 0, 0, 0.75);
  position: absolute;
  left: 280px;
  top: 40px;
  z-index: 1;
  background-color: white;
  cursor: default;
}
.box {
  width: 35%;
}

.aboutussecondboximg {
  display: flex;
  justify-content: center;
  gap: 5%;
  align-items: center;
}
.aboutussecondboximg img {
  width: 33%;
}
.react-player {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 99;
  background-color: black;
}
.liabuttonexit {
  position: absolute;
  top: 25px;
  right: -45%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  color: white;
}

.react-player * {
  width: 100%;
}

@keyframes moveLeft {
  from {
    transform: translateX(100%); /* Démarre à droite */
  }
  to {
    transform: translateX(0%); /* Termine à gauche */
  }
}

@media screen and (max-width: 800px) {
  .aboutusfirst {
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  .topScroll {
    margin-top: 160px;
  }
  .aboutusimg {
    width: 92%;
  }
  .aboutustext {
    width: 92%;
    align-items: center;
    text-align: center;
  }
  .clip-path {
    width: 100%;
    margin-bottom: 190px;
  }
  .clip-path h1 {
    margin: 0 0 130px 0;
  }
  .goplay {
    margin: 0;
  }
  .aboutussecondbox {
    left: 5%;
    width: 100%;
    bottom: 0 !important;
    height: fit-content;
    top: 320px;
    box-shadow: 0px 0px 54px 9px rgba(0, 0, 0, 0.75);
  }
  .box {
    width: 90%;
    left: 1%;
    top: 70px;
    position: absolute;
  }
  .imgoverlay {
    object-fit: cover;
  }
  .aboutussecondboximg img {
    width: 30%;
  }
  .allcardsmain {
    margin-top: 0 !important;
  }
}
