.cardsmain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cardscard {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.cardscard h1 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
  position: absolute;
  background-color: rgb(47 15 15 / 70%);
  border-radius: 10px;
  cursor: pointer;
}
.cardscard h1:hover {
  transform: scale(1.5);
  transition: 0.5s;
  border-radius: 10px;
  backdrop-filter: blur(5px) saturate(150%);
  -webkit-backdrop-filter: blur(5px) saturate(150%);

}
.allcardsmain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  margin-top: 100px;
}
