.admin-newsletter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 80%;
  gap: 7px;
  border: 1.5px solid rgb(116, 116, 116);
  border-radius: 18px;
}

.admin-newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 80%;
  padding: 25px;
}
.admin-newsletter h1 {
  font-family: Outfit;
  font-size: 22.775px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 70%;
}
.newsletter-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  border: 1.5px solid rgb(116, 116, 116);
  border-radius: 18px;
  padding: 7px;
}
#storesnews {
  padding: 10px 10px 10px 28px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
#storesnews h1 {
  font-size: 20px;
}
#downloadbuttontext {
  font-size: 10px;
}
