.mini-cards {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  width: 100%;
  position: relative;
}
.admin-stat {
  display: flex;
  align-items: center;

  flex-direction: column;
  gap: 25px;
  padding: 50px 20px;
  width: 80%;
}
.table-stat {
  border: 3px solid black;
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
  display: flex;
}
.table-stat:has(.stores) {
  width: 100%;
}

.ligne,
.info-stat {
  display: flex;
  width: 100%;
  gap: 0px;
  align-items: center;
  padding: 0 !important;
}
.ligne img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.titre-stat {
  width: 100%;
  padding: 0 40px;
  border: none !important;
}
.titre-stat li,
.ligne span {
  width: 15%;
}
.stores .titre-stat li,
.stores .ligne span {
  width: 200px;
}
.ligne li {
  padding: 20px;
  text-align: center;
}

.users {
  border: 3px solid black;
  padding: 20px;
  border-radius: 10px;
}
.stores {
  border: 3px solid black;
  padding: 20px;
  border-radius: 10px;
}
.stores .ligne > span,
.stores .ligne > li {
  display: flex;

  align-items: center;
  justify-content: center;
}
.stores .ligne,
.stores .ligne {
  justify-content: space-between;
}
.etat {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: #d04848;
  font-weight: 600;
  font-size: 20px;
  color: white;
  transition: 0.2s;
}
.etat:hover {
  opacity: 0.7;
}
.activeE {
  background-color: #65b741;
}

.showid {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
}
.foraddbutton {
  position: absolute;
  right: 25px;
  bottom: 0;
}
.fortable-stat {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#inputfileimage {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.App {
  display: flex;
}
.Appplus {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.labelSignUphalf input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  padding: 0 10px;
  font-size: 14px;
}
.labelSignUphalf textarea {
  height: 100px;
}
.btnred {
  width: 70%;
  background-color: var(--primary-color);
  color: white;
  padding: 10px 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
}
.forlabeladd {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  box-sizing: content-box;
}

.pluscircle {
  transition: transform 0.3s ease-in-out;
}
.pluscircle:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: rotate(180deg);
}
#combo-box-demo {
  width: 100%;
  height: 8px;
  /* margin-bottom: 10px; */
}
#combo-box-demo > input {
  width: 100%;
  height: 20px !important;
}

.labelSignUphalfinput > input {
  width: 100%;
  padding: 0 24px 0 11.5px;
  border: 1px solid rgba(62, 62, 62, 0.452);
  border-radius: 4px;
  font-size: 16px;
  height: 50px;
}
.labelSignUphalfinputoui > input {
  width: 50% !important;
}

.hadtmekhriga {
  width: 50%;
}
.descriptioncontact {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid rgba(62, 62, 62, 0.452);
  resize: none;
}
.muiautocompleter > div > div {
  height: 50px;
  max-width: 220px;
}
#labelSignUphalfinputmarque > input {
  width: 95%;
  margin-bottom: 10px;
}
.labelSignUphalfinputspecial > input {
  padding-right: 12px;
  margin-bottom: 10px;
}
.temporary {
  gap: 4%;
}
.flex {
  display: flex;
  gap: 10px;
  align-items: center;
  position: absolute;
}

.filter{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.btns{
  display: flex;
  align-items: center;

 
}
.Mui-focused{

  color: red !important;
}
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
  
}
.MuiOutlinedInput-notchedOutline{
  border: red 1px solid !important;
  
.titre-stat {
  gap: 10px;

}