.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked{
    color: red !important;
}
.css-1whpjm6-MuiToolbar-root,.css-10cbwbc-MuiTableRow-root.Mui-selected{
    background-color: rgba(219, 1, 28, 0.5) !important;
}
.table .css-i4bv87-MuiSvgIcon-root{
    color: red !important;
}
