footer {
  background-color: black;
  color: white;
  margin-top: 25px;
  height: 400px;
  position: relative;
}
.footercontainer {
  display: flex;
  gap: 10px;
  /* padding: 20px 0 50px 0; */
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}
.footercontainer > * {
  width: 50%;
}
.footercopyright {
  text-align: center;
  padding: 35px 0 15px 0;
  position: absolute;
  bottom: 20px;
  left: 20vw;
}
.footerfirstsection {
  width: 80% !important;
  padding-top: 25px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footerfirstsection p {
  width: 70%;
  line-height: 24px;
}
.iconfooter {
  width: 100px;
  border-radius: 5px;
}
footer li {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 5px 0 5px 0;
}

.footeraboutsection li,
.footerblogrollsection li {
  cursor: pointer;
}
.footeraboutsection {
  padding-top: 30px;
}
.footercontactsection {
  padding-top: 30px;
}
.footercontainer > * h3 {
  margin: 20px 0 20px 0;
}
.place-card,
.place-card-medium {
  display: none !important;
}
.forIframe {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  color: white;
  width: 400px;
  height: 400px;
  right: 0;
  position: absolute;
}
.foriframeunder {
  height: 400px;
  min-width: 500px;
}
@media (max-width: 600px) {
  .footercontainer {
    /* flex-direction: column; */
    flex-wrap: wrap;
  }
  .footercontainer > * {
    width: 40%;
    margin-left: 15px;
    padding-left: 0;
  }
  .forIframe {
    display: none;
  }
}
