footer {
  background-color: black;
  color: white;
  margin-top: 25px;
}
.footercontainer {
  display: flex;
  gap: 10px;
}
.footercontainer > * {
  width: 50%;
}
.footercopyright {
  text-align: center;
  padding: 35px 0 15px 0;
}
.footerfirstsection {
  width: 90% !important;
  padding-top: 25px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footerfirstsection p {
  width: 80%;
}
.iconfooter {
  width: 100px;
  border-radius: 15px;
}
footer li {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 5px 0 5px 0;
}

.footeraboutsection li,
.footerblogrollsection li {
  cursor: pointer;
}
.footercontainer > * h3 {
  margin: 20px 0 10px 0;
}
