.backred {
  background-color: rgba(219, 95, 95, 0.537);
}

.backgreen {
  background-color: rgba(85, 160, 85, 0.521);
}
.commandeslist .info-stat {
  justify-content: space-between;
  margin-left: 20px;
  gap: 40px;
}
.commandeslist > li {
  width: 10%;
}
.commandeslist li {
  padding: 20px 0 20px 0 !important;
}
.button-d {
  width: 60px;
}

.filterParent {
  display: flex;
  
  width: 100%;
 
}
.filterParent .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root	{
 width: 200px !important;
}


.filterParent .Mui-focused {
  color: red !important;
}

.filterParent .MuiOutlinedInput-notchedOutline {
  border: red 1px solid !important;
}

