* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  list-style: none;
}
:root {
  --primary-color: #db011c;
}
.container {
  margin-left: 100px;
  margin-right: 100px;
}
input:focus,
textarea:focus {
  outline: none;
}
body,
#root {
  min-height: 100vh;
}
